.App {
  text-align: center;
}




.keret{
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
  text-align: justify;
}
@media (max-width:800px) {
  .keret{
      border: 1px solid blue;
      margin: 20px;
      padding: 20px;
      text-align: justify;
    }
}